{
    "overrides": [
        {
            "files": "*.ts*",
            "options": {
                "tabWidth": 2,
                "printWidth": 270
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
